<li class="col-md-4"><div style="height:100px;line-height:50px;border-style:solid;border-width:1px;border-color:#E7E7E7;padding:15px;border-radius:4px;">
<%= link_to image_tag("donut-2.png", alt: "flak.me"), root_path, class: "image-stamp", id: "logo" %>
<%= link_to chatroom.topic, chatroom_path(chatroom) %></div></li>