<li class="col-md-4"><div class="chat-column">
<%= link_to image_tag("donut-2.png", alt: "flak.me"), root_path, class: "image-stamp", id: "logo" %>
<%= link_to chatroom.topic, chatroom_path(chatroom) %></div></li>