<div style="background-color:white;" class="row">
  <div class="col-md-3"><%= render 'layouts/sidebar' %></div>
  <div style="padding-left:0 !important; margin-left:0 !important; background-color:white !important;" class="col-md-9 no-pad">
    <div style="background-color:white;width:80%;">
      <div class="">
        <h1><%= @chatroom.topic %></h1>
        <div class="panel panel-default">
          <% if @chatroom.messages.any? %>
            <div class="panel-body" id="messages">
              <%= render partial: 'messages/message', collection: @chatroom.messages%>
            </div>
          <%else%>
            <div class="panel-body hidden" id="messages"></div>
          <%end%>
        </div>
          <%= render partial: 'messages/message_form', locals: {message: @message, chatroom: @chatroom}%>
      </div>
    </div>
  </div>
</div>